# 개발 환경 파일
node_modules/
npm-debug.log
yarn-error.log

.env

logs/
*.log
build/
dist/
out/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

*.lock
package-lock.json
yarn.lock
.pnp.*
.pnp.js

*.swo
*.swp
.DS_Store
Thumbs.db






